mixin pageTop(image, link=null)
	div.page-top
		div.page-top__header
			div.container
				div.page-top__breadcrumbs
					include blocks/breadcrumbs
				h1.page-top__title=pageTitle
		div.container
			div.page-description
				div.column
					div.page-description__text.text-block
						block
					if (link !== null)
						if (link[1])
							a.button.button_color_filled(href=link[1] target="_blank")=link[0]
						else
							button.button.button_color_filled#modal-btn=link[0]
				div.column.column_padding_not
					img.page-description__image(src=`images/${image}.jpg` alt=pageTitle)
